@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Social Butterfly</h1>
    <p class="lead">An elegant solution for streeamlining all of your social media content!</p>
    
</div>
<div class="text-center"><h2>Insert Application Here!</h2></div>